<p>
  We only found <%= @category_count %> result(s) so we generated some random charities for you!
</p>

<% @top_charities.each do |x| %>
  <div class="charity">
    <p>
      <strong>
        <%= x[:name] %>
      </strong>
      <%= link_to "Link", x[:uri] %>
      <% if user_signed_in? %>
        <%= link_to "Save", "/" %>
      <% end %>
    </p>
    <p>
      <%= x[:mission] %>
    </p>
  </div>
<% end %> 

Charity data from GuideStar.org