<h1>
  <%= @charity.name %>
</h1>

<p>
  <%= link_to @charity.link, @charity.link %>
</p>

<p>
  Mission Statement: <%= @charity.mission %>
</p>

<p>
  Zipcode: <%= @charity.zipcode %>
</p>

<%= link_to "Back to Charities", charities_path %>